<!DOCTYPE html>
<html lang="en-us">
<head>
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
</head>
<body class="theme-base-09">
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
  
  <label for="sidebar-checkbox" class="sidebar-toggle">
    <span class="menu-icon"></span>
  </label>

  <div class="sidebar">
    <div class="sidebar-item">
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">✋Общая информация</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/schedule/">💼Расписание</a>


<!-- Учебные материалы -->
<!-- <div class="sidebar-nav-group sidebar-nav-group">
  <button class="sidebar-nav-item sidebar-nav-toggle" data-menu-id="teach_main">
    <span class="toggle-content">
      💻Ноутбуки
      <svg class="toggle-icon" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>

<div class="sidebar-submenu">
    <div class="sidebar-nav-group sidebar-nav-group_2">
      <button class="sidebar-nav-item sidebar-nav-toggle_2" data-menu-id="project">
        <span class="toggle-content_2">
          🐍Программирование на python
          <svg class="toggle-icon_2" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z"/>
          </svg>
        </span>
      </button>

<div class="sidebar-submenu_2">
        <div class="sidebar-submenu_2">
        </a>
        <a href="{{ site.baseurl }}/python/notebook_1" class="sidebar-nav-item submenu-item" style="padding-left: 30px;">
        Списки
        </a>
        </a>
        <a href="{{ site.baseurl }}/python/notebook_2" class="sidebar-nav-item submenu-item" style="padding-left: 30px;">
        Словари и Кортежи
        </a>
        </div>     
</div>
</div>
</div>

<div class="sidebar-submenu">
  <div class="sidebar-nav-group sidebar-nav-group_2">
    <button class="sidebar-nav-item sidebar-nav-toggle_2" data-menu-id="project">
      <span class="toggle-content_2">
        🎲Специальные разделы теории вероятностей
        <svg class="toggle-icon_2" viewBox="0 0 24 24">
          <path d="M7 10l5 5 5-5z"/>
        </svg>
      </span>
    </button>

<div class="sidebar-submenu_2">
      <div class="sidebar-submenu_2">
      </a>
      <a href="{{ site.baseurl }}/probability/notebook_1" class="sidebar-nav-item submenu-item" style="padding-left: 30px;">
      Наивный Байес
      </a>   
      </a>
      <a href="{{ site.baseurl }}/probability/notebook_2" class="sidebar-nav-item submenu-item" style="padding-left: 30px;">
      Наивный Графы
      </a>
</div>
</div>
</div>
</div>
</div> -->
<!-- Учебные материалы -->


<!-- Учебные материалы -->
<div class="sidebar-nav-group sidebar-nav-group">
  <button class="sidebar-nav-item sidebar-nav-toggle" data-menu-id="teach_main">
    <span class="toggle-content">
      💻Ноутбуки
      <svg class="toggle-icon" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>

<div class="sidebar-submenu">
  </a>
  <a href="{{ site.baseurl }}/notebook/" class="sidebar-nav-item submenu-item">
    1 Семестр
  </a>
</div>

</div> 

<!-- Полезные материалы -->
<div class="sidebar-nav-group sidebar-nav-group">
  <button class="sidebar-nav-item sidebar-nav-toggle" data-menu-id="teach_main">
    <span class="toggle-content">
      📋Лекции
      <svg class="toggle-icon" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>

<div class="sidebar-submenu">
      </a>
      <a href="{{ site.baseurl }}/lectures/" class="sidebar-nav-item submenu-item">
        1 Семестр
      </a>
    </div>

</div>


<!-- Полезные материалы -->
<div class="sidebar-nav-group sidebar-nav-group">
  <button class="sidebar-nav-item sidebar-nav-toggle" data-menu-id="teach_main">
    <span class="toggle-content">
      📄Полезные материалы
      <svg class="toggle-icon" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>

<div class="sidebar-submenu">
      </a>
      <a href="{{ site.baseurl }}/courses/" class="sidebar-nav-item submenu-item">
        Курсы
      </a>
      <a href="{{ site.baseurl }}/book/" class="sidebar-nav-item submenu-item">
        Книги
      </a>
    </div>

</div>

<!-- Полезные материалы -->


      
      <div class="sidebar-item">
        <p>&copy; {{ site.time | date: '%Y' }}. Магистратура.</p>
      </div>
    </nav>
  </div>

  <div class="wrap">
    <!-- Основной контент -->
  </div>

  <script src='{{ site.baseurl }}/public/js/sidebar_actual.js'></script>
</body>
</html>