<!DOCTYPE html>
<html lang="en-us">
<head>
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
</head>
<body class="theme-base-09">
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
  
  <label for="sidebar-checkbox" class="sidebar-toggle">
    <span class="menu-icon"></span>
  </label>

  <div class="sidebar">
    <div class="sidebar-item">
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">✋Общая информация</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/project/schedule/">💼Расписание</a>


<!-- Учебные материалы -->
<div class="sidebar-nav-group sidebar-nav-group">
  <button class="sidebar-nav-item sidebar-nav-toggle" data-menu-id="teach_main">
    <span class="toggle-content">
      📋Учебные материалы
      <svg class="toggle-icon" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>

<div class="sidebar-submenu">
    <div class="sidebar-nav-group sidebar-nav-group_2">
      <button class="sidebar-nav-item sidebar-nav-toggle_2" data-menu-id="project">
        <span class="toggle-content_2">
          Программирование на python
          <svg class="toggle-icon_2" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z"/>
          </svg>
        </span>
      </button>

<div class="sidebar-submenu_2">
        <div class="sidebar-submenu_2">
        </a>
        <a href="{{ site.baseurl }}/project/python/python/" class="sidebar-nav-item submenu-item" style="padding-left: 30px;">
        Лекции
        </a>
        </div>
        <div class="sidebar-nav-group sidebar-nav-group_3">
          <button class="sidebar-nav-item sidebar-nav-toggle_3" data-menu-id="python">
            <span class="toggle-content_3">
              Ноутбуки
              <svg class="toggle-icon_3" viewBox="0 0 24 24">
                <path d="M7 10l5 5 5-5z"/>  
              </svg>
            </span>
          </button> 
        <div class="sidebar-submenu_3">
        </a>
        <a href="{{ site.baseurl }}/project/python/notebook_1/" class="sidebar-nav-item submenu-item">
          Списки 
        </a>
      </div>
    </div>
</div>
</div>
</div>

<div class="sidebar-submenu">
  <div class="sidebar-nav-group sidebar-nav-group_2">
    <button class="sidebar-nav-item sidebar-nav-toggle_2" data-menu-id="project">
      <span class="toggle-content_2">
        Специальные разделы теории вероятностей
        <svg class="toggle-icon_2" viewBox="0 0 24 24">
          <path d="M7 10l5 5 5-5z"/>
        </svg>
      </span>
    </button>

<div class="sidebar-submenu_2">
      <div class="sidebar-submenu_2">
      </a>
      <a href="{{ site.baseurl }}/project/probability/probability/" class="sidebar-nav-item submenu-item" style="padding-left: 30px;">
      Лекции
      </a>
      </div>
      <div class="sidebar-nav-group sidebar-nav-group_3">
        <button class="sidebar-nav-item sidebar-nav-toggle_3" data-menu-id="python">
          <span class="toggle-content_3">
            Ноутбуки
            <svg class="toggle-icon_3" viewBox="0 0 24 24">
              <path d="M7 10l5 5 5-5z"/>  
            </svg>
          </span>
        </button> 
      <div class="sidebar-submenu_3">
      </a>
      <a href="{{ site.baseurl }}/project/probability/notebook_1/" class="sidebar-nav-item submenu-item">
        Наивный Байес 
      </a>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Учебные материалы -->



<!-- Полезные материалы -->
<div class="sidebar-nav-group sidebar-nav-group">
  <button class="sidebar-nav-item sidebar-nav-toggle" data-menu-id="teach_main">
    <span class="toggle-content">
      📋Полезные материалы
      <svg class="toggle-icon" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5z"/>
      </svg>
    </span>
  </button>

<div class="sidebar-submenu">
      </a>
      <a href="{{ site.baseurl }}/project/courses/" class="sidebar-nav-item submenu-item">
        Курсы
      </a>
      <a href="{{ site.baseurl }}/project/book/" class="sidebar-nav-item submenu-item">
        Книги
      </a>
    </div>

</div>


<!-- Полезные материалы -->


      
      <div class="sidebar-item">
        <p>&copy; {{ site.time | date: '%Y' }}. Тимакин Сергей.</p>
      </div>
    </nav>
  </div>

  <div class="wrap">
    <!-- Основной контент -->
  </div>

  <script src='{{ site.baseurl }}/public/js/sidebar_actual.js'></script>
</body>
</html>